@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor contextAccessor;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <ul>
        <li>Employee Id: @contextAccessor.HttpContext.Session.GetInt32("Employee Id")</li>
        <li>Employee Name: @contextAccessor.HttpContext.Session.GetString("Employee Name")</li>
    </ul>
</div>
